// Buttons
.btn,
.gform_button {
  display: inline-block;
  font-family: $font-family-base;
  font-weight: $btn-font-weight;
  color: $body-color;
  text-align: center;
  text-decoration: none;

  // white-space: $btn-white-space;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: $border-width solid transparent;
  border-radius: $border-radius;
  @include button-size($input-btn-padding-y, $input-btn-padding-x, $input-btn-font-size, $input-btn-line-height);
  @include transition(
    color 0.3s ease-in-out,
    background-color 0.3s ease-in-out,
    border-color 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out
  );

  &:hover,
  &.hover {
    color: $body-color;
    text-decoration: none;
  }

  &:focus,
  &.focus {
    // outline: 0;
    &:not(:focus-visible) {
      outline: none;
    }
  }

  &:not(:disabled, .disabled) {
    cursor: pointer;
  }
}

.btn-primary,
.gform_button {
  color: $white;
  background-color: $green;
  border-color: $dollar-bill;

  // @include shadow-1();
  &:hover,
  &:focus {
    color: $white;
    background-color: $greenhouse;
  }
}

.btn-secondary {
  color: $white;
  background-color: $blue;
  border-color: $dodger-blue;

  &:hover,
  &:focus {
    color: $white;
    background-color: $dark-sea-blue;
  }
}

.btn-tertiary {
  color: $greenhouse;
  background-color: $white;
  border-color: $white;

  &:hover,
  &:focus {
    color: $white;
    background-color: transparent;
  }
}

.btn-lg {
  @include button-size($input-btn-padding-y-lg, $input-btn-padding-x-lg, $font-size-lg, $border-radius-lg);
}

.btn-sm {
  @include button-size($input-btn-padding-y-sm, $input-btn-padding-x-sm, $font-size-sm, $border-radius-sm);
}
