// Colors
$blue: #06659e;
$green: #529040;

// Common Colors
$white: #fff;
$black: #000;
$body-color: $black;
$body-bg: #fff;
$colors: (
  'blue': $blue,
  'green': $green,
  'black': $black,
);

// General
$spacer: 1rem;

// Type
$font-family-base: 'Source Sans Pro', sans-serif;
$font-size-base: 1rem; // 16px
$font-weight-base: 400;
$line-height-base: 1.5;
$headings-font-family: 'Quicksand', sans-serif;
$headings-margin-bottom: calc($spacer / 2);
$paragraph-margin-bottom: 1rem;
$link-color: $blue;
$link-decoration: underline;
$link-hover-color: $blue;
$link-hover-decoration: underline;

// Breakpoints
$grid-xs: 0;
$grid-sm: 576px;
$grid-md: 768px;
$grid-lg: 992px;
$grid-xl: 1200px;

// Components
$border-width: 1px;
$border-radius: 0.375rem; // 6px

// Buttons and Forms
$input-btn-padding-y: 0.375rem;
$input-btn-padding-x: 0.75rem;

// $input-btn-font-family: null;
$input-btn-font-size: $font-size-base;
$input-btn-line-height: $line-height-base;
$input-btn-padding-y-sm: 0.25rem;
$input-btn-padding-x-sm: 0.5rem;
$label-margin-bottom: 0.5rem;
$form-check-input-gutter: 1.25rem;
$form-check-input-margin-y: 0.3rem;
$form-check-input-margin-x: 0.25rem;
$form-check-inline-margin-x: 0.75rem;
$form-check-inline-input-margin-x: 0.3125rem;
