// Colors
$blue: #06659e;
$green: #529040;
$jungle-jewels: color.scale($green, $lightness: 15%); // #76b962
$dollar-bill: color.scale($green, $lightness: 30%); // #7fbe6d
$greenhouse: #37612e; // #37612e
$beyond-blue: color.scale($blue, $lightness: 15%); // #107ac5
$dodger-blue: color.scale($blue, $lightness: 30%); // #16A2F6
$dark-sea-blue: color.scale($blue, $lightness: -25%); // #054c77
$danger: #a24854;

// Common Colors
$white: #fff;
$black: #000;
$excalibur: #595959; // Black but 65% on white
$body-color: $black;
$body-bg: #fff;
$colors: (
  'blue': $blue,
  'green': $green,
  'black': $black,
  'jungle-jewels': $jungle-jewels,
  'dollar-bill': $dollar-bill,
  'greenhouse': $greenhouse,
  'beyond-blue': $beyond-blue,
  'dodger-blue': $dodger-blue,
  'dark-sea-blue': $dark-sea-blue,
);
$yiq-contrasted-threshold: 150;
$yiq-text-dark: $black;
$yiq-text-light: $white;

// General
$spacer: 1rem;

// Type
$font-family-base: 'Source Sans Pro', sans-serif;
$font-size-base: 1rem; // 16px
$font-size-sm: 0.875rem; // 14px
$font-size-lg: $font-size-base * 1.25;
$font-weight-base: 400;
$line-height-base: 1.5;
$headings-font-family: 'Quicksand', sans-serif;
$headings-margin-bottom: calc($spacer / 2);
$paragraph-margin-bottom: 1rem;
$link-color: $blue;
$link-decoration: underline;
$link-hover-color: $blue;
$link-hover-decoration: underline;

// Breakpoints
$grid-xs: 0;
$grid-sm: 576px;
$grid-md: 768px;
$grid-lg: 992px;
$grid-xl: 1200px;

// Components
$border-width: 2px;
$border-radius: 25px 25px 25px 25px / 50% 50% 50% 50%;
$border-radius-sm: 15px 15px 15px 15px / 50% 50% 50% 50%;
$border-radius-lg: 35px 35px 35px 35px / 50% 50% 50% 50%;
$border-radius-alt: 0.625rem; // 10px

// Buttons and Forms
$btn-font-weight: 600;
$input-btn-padding-y: 0.5rem; // 8px
$input-btn-padding-x: 1.5rem; // 24px
$input-btn-padding-y-sm: 0.25rem; // 4px
$input-btn-padding-x-sm: 1rem; // 16px
$input-btn-padding-y-lg: 0.75rem; // 12px
$input-btn-padding-x-lg: 2rem; // 32px

// $input-btn-font-family: null;
$input-btn-font-size: $font-size-base;
$input-btn-line-height: $line-height-base;
$label-margin-bottom: 0.5rem;
$form-check-input-gutter: 1.25rem;
$form-check-input-margin-y: 0.3rem;
$form-check-input-margin-x: 0.25rem;
$form-check-inline-margin-x: 0.75rem;
$form-check-inline-input-margin-x: 0.3125rem;
$input-height: add($input-btn-line-height * 1em, add($input-btn-padding-y * 2, $border-width, false));
$legend-font-size: 1rem;
$legend-font-weight: 700;

// Navbar
$nav-link-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;

// Transitions
$transition-collapse: height 0.35s ease;
$transition-collapse-width: width 0.35s ease;

// Carets
$caret-width: 0.3em;
$caret-vertical-align: $caret-width * 0.85;
$caret-spacing: $caret-width * 0.85;
